# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
/venv
/venv311
/tf_gpu_env
/venv_gpu
.venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# images
/images
/ideas
4
# OS
.DS_Store
Thumbs.db
Desktop.ini

# Jupyter
.ipynb_checkpoints/

# Данные и модели (слишком большие для github)
data/
outputs/
pretrained/

# Логи
*.log

# Environment
.env
.env.*
